* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    
    
}

.about {
    background: url(logo.png) no-repeat left;
    background-size: 40%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 160px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
            url("../images/societyimg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

.inner-section {
    width: 55%;
    float: right;
    background-color: #50bd45d1;
    padding: 40px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 20px;
    border: 2px solid black;
}

.inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills button {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}

.skills button:hover {
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}

@media screen and (max-width:1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about {
        padding: 0;
    }

    .inner-section {
        padding: 60px;
    }

    .skills button {
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}
